* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}
.con1 {
  background-image: linear-gradient(to right, rgba(255, 144, 14, 0.1), #dbd1c0);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 1050px;
  width: 100%;
}
.head {
  display: flex;
  flex-wrap: wrap;
  height: 70px;
  width: 100%;
  margin-bottom: 10px;
}
.logo {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}
.logo h1 {
  font-size: 2.5em;
  padding: 20px;
  margin: 15px;
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.nav ul {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  padding: 15px;
  margin: 5px;
}
.nav ul li {
  font-size: 1.5em;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32%;
  flex-direction: column;
}
.ttext {
  font-size: 2.8em;
  margin: 2px;
  text-align: center;
  font-weight: bold;
}
.dtext {
  font-size: 1.1em;
  color: rgb(76, 74, 74);
  margin: 2px;
  text-align: center;
}
.btn {
  height: 50px;
  width: 150px;
  background-color: #ff900e;
  color: white;
  border: 0px;
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
  font-weight: bold;
}
.banner-img {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.banner {
  width: 80%;
  height: 95%;
  margin: 10px;
  margin-top: 0px;
  padding: 10px;
}
.con2 {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #f1f1f1;
}
.imgcon2 {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.img4p {
  display: flex;
  width: 75%;
  height: 75%;
  flex-direction: column;
  flex-wrap: wrap;
}
.img2p1 {
  display: flex;
  height: 50%;
  width: 100%;
  flex-wrap: wrap;
}
.img2p2 {
  display: flex;
  height: 50%;
  width: 100%;
  flex-wrap: wrap;
}
.img1 {
  height: 100%;
  width: 50%;
}
.img2 {
  height: 100%;
  width: 50%;
}
.img3 {
  height: 100%;
  width: 50%;
}
.img4 {
  height: 100%;
  width: 50%;
}
img {
  height: 95%;
  width: 95%;
}
.textcon2 {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.textbox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 70%;
  height: 30%;
  margin-left: 50px;
}
.t2text {
  color: darkgrey;
  margin: 3px;
  margin-left: 0px;
  padding: 2px;
}
.t2text b {
  color: black;
  font-weight: bold;
}
#f {
  color: #ff900e;
  font-weight: bold;
  margin: 3px;
  margin-left: 0px;
  padding: 2px;
}
.d2text {
  font-size: 1.1em;
  margin: 10;
  margin-left: 0;
  padding: 2px;
}
.btn2 {
  height: 50px;
  width: 150px;
  background-color: #ff900e;
  color: white;
  border: none;
  border-radius: 10px;
  margin: 10px;
  margin-left: 0px;
  padding: 10px;
  font-weight: bold;
}
.con3 {
  display: flex;

  background-color: #f1f1f1;
  height: 130vh;
  width: 100%;
}
.textcon3 {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  margin: 10px;
  margin-top: 50px;
}

.textbox3 {
  display: flex;
  width: 70%;
  height: 90%;
  flex-direction: column;
  margin-left: 20%;

  margin-right: 3%;
}
.t3text {
  border-left: 5px solid #ff900e;
  padding: 10px;
  margin: 10px;
}
.d3text {
  padding: 10px;
  margin: 10px;
}
.textcard4 {
  height: 70%;
  width: 100%;
}
.tcard {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25%;
  width: 100%;
  box-shadow: 0 8px 16px 0 rgba(113, 111, 111, 0.783);
  border-radius: 15px;
  background-color: white;
  margin: 4%;
}
.blogs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 5%;
  padding: 2px;
}
.blog-title {
  font-size: 1.7 em;
  margin: 5px;
  font-weight: bold;
}
.blog-description {
  font-size: 1em;
  color: darkgray;
  margin: 5px;
}
.imgcon3 {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
}
.imgc3 {
  display: flex;
  justify-content: flex-start;
  margin-right: 20%;
}
.women {
  height: 100%;
  width: 100%;
}
.exp {
  background-color: #ff900e;
  width: 25%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}
.lastcon {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
}
.l1con {
  display: flex;
  align-items: center;
  height: 25%;
  width: 75%;
}
.l1con h1 {
  margin: 10px;
}
.l1con p {
  color: darkgray;
  margin: 5px;
}
.l2con {
  display: flex;
  justify-content: space-between;
  height: 30%;
  width: 75%;
}
.boxs {
  display: flex;
  flex-direction: column;
  height: 95%;
  width: 19%;
  justify-content: center;
  align-items: center;
  border: 1px solid #ff900e;
  border-radius: 10px;
}
.boxs img {
  height: 50px;
  width: 50px;
  margin: 5px;
}
.l3con {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 30%;
  width: 75%;
}
.l3con p {
  color: darkgray;
  margin-top: 5px;
}
.l4con {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 15%;
  width: 80%;
  margin-top: 20px;
}
.l4con img {
  height: 50px;
  width: 100px;
}
.footer {
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
}
.foot {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 70%;
  border-radius: 15px;
  background-color: rgba(128, 128, 128, 0.279);
}
.footer p {
  font-size: 1.5em;
  color: dimgrey;
}
